body {
    background-color: rgb(240, 240, 240);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

label {
   font-size: 20px;
}
#formGrid {
    display:grid;
    border: solid black 1px;
    width: 215px;
    height: 250px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0 auto;  
    background-color: white;
}
#bookForm {
font-size: 20px;
text-align: center;
}
.input {
    width: 200px;
}
#addBook {
    width: 100px;
    margin: 0 auto;
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
};
#openLibrary {
    width: 125px;
    margin: 0 auto;
    display: block; 
    font-size: 17px;  
}
.griditemheader {
    display: grid;
    grid-template-columns: 150px 150px 100px 100px 75px;
    border: solid black 1px;
    width: 575px;
    margin: 0 auto;
    background-color: white;
    font-size: 18px;
}
.libraryDisplayDiv {
    display: grid;
    grid-template-columns: 150px 150px 100px 100px 75px;  
    width: 575px;
    margin: 0 auto;
    background-color: white;
}
.griditem {
    border: solid black 1px;
    text-align: center; 
    background-color: white;  
}